

.circular-menu {
  width: 900px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}




.circle p {
  text-decoration: none;
  color: black;
  display: block;
  height: 50px;
  width: 200px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  border-radius: 800px;

}

.circle p:hover {
  color: blue;
}

.menu-button {
  position: absolute;
  top: calc(35%);
  left: calc(45%);
  text-decoration: none;
  text-align: center;
  color: #444;
  border-radius: 50%;
  display: block;
  height: 150px;
  width: 150px;
  line-height: 30px;
  padding: 50px;
  background: #dde;
}

.menu-button:hover {
  background-color: #eef;
}



/* Bouton et affichage des description*/


body {
  background: #e0f7fa;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}


.container {
  margin: 100px auto;
  width: 50px;
}


.roll {
  /*position: absolute;*/
  /*display: block;*/
  transition: all 1ms ease-in-out;
  text-decoration: none;
  transform-style: preserve-3d;
  }


.roll:hover {
  z-index: 100;
  transform: perspective( 500px ) rotateY( -40deg ) rotateX( 5deg ) rotateZ( -10deg );
  }



.roll .roll-img {
  position: absolute;
  top: 300px;
  right: 1000px;
  z-index: 10;
  overflow: hidden;
  /*display: block;*/
  margin: 0;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  
  background-size: 100px 100px;
  transition: all 1ms ease-in-out;
  }



.roll:hover .roll-img {
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.3),
    inset 0 0 20px rgba(0,0,0,.7);
  }



.roll-container {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  /*display: block;*/
  width: 0;
  height: 0;

  }



.roll:hover .roll-container {
  top: 300px;
  right: 850px;
  width: 220px;
  height: 1000px;
  }



.roll-copy {
  position: absolute;
  right: 8px;
  /*display: block;*/
  box-shadow: 2px 2px 8px rgba(0,0,0,.3),
    inset -1px -1px 0 rgba(255,255,255,.4);
  border: 2px solid #999;
  border-radius: 0 8px 8px 0;
  padding: 10px 10px 10px 75px;
  width: 120px;
  background: #eee;
  background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%) #eee;
  color: #333;
  }


