
/* PARAMETRE GENERAUX */
html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding:0;
}

html {
    font-size: 10px;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #676d79;
    font-weight: 300;
    background-color: #E0F7FA;
}


/* CONTENU */

li {
    list-style-type: none;
    text-align: center;
    font: 14px 'opensans-bold', sans-serif;
}

h2 {
    font: 20px 'opensans-bold', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2.5px;



}

.part_actualites {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #E0F7FA;
    text-align: center;

    float: left;
    width: 33%;



}

.part_conso {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #0d6f6b;
    color: white;
    text-align: center;

    float: left;
    width: 33%;
}

.part_groupes {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #e0f7fa;
    text-align: center;

    float: right;
    width: 33%;
}


/* FOOTER */

footer {
    background: #407892;
    color: white;
}
.bottom-bar {
    position:relative;
    text-align:center;
    font-size:.8em;
    text-transform:uppercase;
    padding:5px 0;
}

#copyright, #coordonnees {
    position:relative;
    text-align:center;
    font-size: .7em;
    text-transform:uppercase;
    padding:0px 0;

}

#listGroupes {
    margin-top:200px;
}
