@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

html {
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #676d79;
    background-color: #E0F7FA;
    font-weight: 300;
 }
.user {
  width: 90%;
  max-width: 340px;
  margin: 10vh auto;
}

.user_header {
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.7s forwards;
          animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user_title {
  font-size: 30px;
  margin-bottom: -10px;
  font-weight: 500;
  color: white;

}

.form {
  margin-top: 40px;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 500px, 0);
          transform: translate3d(0, 500px, 0);
  -webkit-animation: arrive 500ms ease-in-out 0.9s forwards;
          animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
  -webkit-animation: NO 1s ease-in-out;
          animation: NO 1s ease-in-out;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.form_input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form_input:focus {
  background: #f7f7f7;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto";
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #036C81;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background: #a09486;
}


#annulerBtn{
    background: #F7819F;
}
#annulerBtn:hover{
    background: #FA5882;
}
#enregistrerBtn{
    background: #81F781;
}
#enregistrerBtn:hover{
    background: #58FA58;
}



@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@-webkit-keyframes arrive {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

