@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Muli);

html, body {
    height: 100%;
    width: 100%;
    background-color: #E0F7FA;
    margin: 0;
}

#conteneur
{
    margin: 100px auto 0;
    display: flex;
    width: 90%;
    justify-content: flex-start;
}


body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.app {
    width: 40vh;
    height: 60%;
}

.panel {
    height: 100%;
    padding: 2vh 0;
    background-color:#383B42;
    box-shadow:-4px 0px 10px rgba(14, 14, 14, 0.48) inset;
}

.nav {
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    background-color: #176d76;
}

.nav li {
    cursor: pointer;
    display: flex;

    flex-direction: row;
    color: white;
    align-items: center;
}

.line {
    border-top: 1px solid lightgrey;
    width: 72%;
    margin: 1vh 2vw;
}

.fa-home {
    color:grey;
    font-size: 2em;
    margin-right: 0.5em;
}

.small {
    font-size: 1.5em;
}


.add {
    text-align: center;
    background-color:#2fcece;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 1vh 2vw;

 }

.fa-home {
    color: white;
}

h3 {
    font-size:17px;
    margin:0;
    line-height: 40px;
    color: #555;
    cursor:pointer;
    position:relative;
}

.appartment {
    display: flex;
    justify-content: center;
    color: #3f6c82;
}

.appartment:hover {
    background-color: #176d76;
    color: white;
}

.appartment span {

}

main {
    flex:1;
    -webkit-flex:1;
    -ms-flex:1;
}

.larg-w {
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

}

.larg .larg-w {
    background-color: #F7F7F7;
    border: 1px solid #E2E2E2;
    max-width: 960px;
    margin: 30px auto;
    padding: 0 30px;

}
.larg .larg-w:hover {
    background-color:#fafafa;
}

.angle-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa {
    font-size: 1.8em !important;
}

.angle-wrap i {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.appartment-header span {
    font-family: 'entypo';
    font-size: 19px;
    position: absolute;
    right: 0;
    transition: all .5s;
}


.toggleDiv {
    display: none;
    flex-direction: column;
    padding: 5px;

}

.toggleDiv .text-field {
    margin: 5px;
    width: 50%;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.submit {
    width: 20%;
}