html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding:0;
}

html {
    font-size: 10px;
}
body
{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #676d79;
    font-weight: 300;
    background-color: #E0F7FA;
}

#listGroupes {
    margin-top: 100px;
}

.divGroupe {
    background-color: white;
    border-radius: 20px;
    padding : 20px;
    padding-top: 0px;
    width: 600px;
    margin:auto;
}
.divButtons {
    
    width: 600px;
    margin:auto;
}
