.header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    background-color: #006064;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 1.8rem;
    z-index: 2;
}

#logo img
{
    width: 100px;
    margin-left: 50px;
}
nav
{
    flex-grow: 0.55;
    width: 85%;
}

nav ul
{
    height: 70%;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
}

li:nth-child(4) {
     margin-left: auto;
}

nav ul li
{
    list-style-type: none;
    font: 13px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;

}

nav ul li a
{
    text-decoration: none;
    color: #ffd0d0;
}
.menu_effect
{
    padding: 7px 0;
    margin: 0 15px;
}

.menu_effect:hover
{
    color: #B2EBF2
}
