
/* PARAMETRE GENERAUX */
html, body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding:0;
}

html {
    font-size: 10px;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #676d79;
    font-weight: 300;
    background-color: #E0F7FA;
}

/* EN-TETE */

.header
{
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    background-color: #006064;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 1.8rem;
    z-index: 1;

}


nav
{
    flex-grow: 0.55;
    width: 85%;
    margin-left: 40px;
}

nav ul
{
    height: 70%;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
}

li:nth-child(4) {
    margin-left: auto;
}

nav ul li
{
    list-style-type: none;
    font: 13px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;

}

nav ul li a
{
    text-decoration: none;
    color: #ffd0d0;
}

#logo img
{
    width: 100px;
    margin-left: 50px;

    width: 100px;
    position: fixed;
    top: 20px;
    left: -40px;

}

.menu_effect
{
    transition: 0.3s ease;
    color: #ffffff;
    text-decoration: none;
    border-top: 2px solid #B2EBF2;
    border-bottom: 2px solid #B2EBF2;
    padding: 7px 0;
    margin: 0 15px;
}

.menu_effect:hover
{
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 3px 0;
}


/* CONTENU */

li {
    list-style-type: none;
    text-align: center;
    font: 14px 'opensans-bold', sans-serif;
}

h2 {
    font: 20px 'opensans-bold', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 2.5px;



}

.part_actualites {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #E0F7FA;
    text-align: center;

    float: left;
    width: 33%;



}

.part_conso {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #0d6f6b;
    color: white;
    text-align: center;

    float: left;
    width: 33%;
}

.part_groupes {
    padding-top: 10%;
    padding-bottom: 1%;

    background: #e0f7fa;
    text-align: center;

    float: right;
    width: 33%;
}


/* FOOTER */

footer {
    background: #407892;
    color: white;
}
.bottom-bar {
    position:relative;
    text-align:center;
    font-size:.8em;
    text-transform:uppercase;
    padding:5px 0;
}

#copyright, #coordonnees {
    position:relative;
    text-align:center;
    font-size: .7em;
    text-transform:uppercase;
    padding:0px 0;

}
