<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../design/css/accueilclient.css" />
        <title>Accueil client</title>
        <script src="https://use.fontawesome.com/be7fe78f06.js"></script>
    </head>
    <body>
    <nav>
        <UL>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class=icon>
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                    </div>
                    <a href="#"><span>Profil client</span></a>
                </div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class=icon>
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                    </div>
                    <a href="#"><span>Modifier le profil client</span></a>
                </div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class=icon>
                        <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <a href="#"><span>Ajouter un nouveau client</span></a>
                </div>
            </li>
            <li class="var_nav">
                <div class="link_bg"></div>
                <div class="link_title">
                    <div class=icon>
                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <a href="#"><span>Messagerie</span></a>
                </div>
            </li>
        </UL>
    </nav>


    </body>
</html>